{% extends "basefile.html" %}
{% block abcdef %}

<style>























    
</style>





<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner container-fluid">
      <div class="carousel-item active">
        <img src="https://images.unsplash.com/photo-1551882547-ff40c63fe5fa?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D " style="width: 400px;height:500px;"class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item container-fluid">
        <img src="https://images.unsplash.com/photo-1596436889106-be35e843f974?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style="width: 400px;height: 500px;" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item container-fluid">
        <img src="https://images.unsplash.com/photo-1564501049412-61c2a3083791?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style="width: 400px;height: 500px;" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>


<div style="padding-top: 30px; ">


    <div class="card text-center  ">
        <div class="card-header container-fluid ">
          Featured
        </div>
        <div class="card-body ">
          <h3 class="card-title">Special </h3>
          <p class="card-text"><h6>Nestled in the vibrant heart of Secaucus, our sophisticated event<br>
                               spaces have been meticulously crafted to provide a remarkable setting<br>
                               for your important meetings and gatherings. Offering a wide space of <br>
                               versatile venues, we go the extra mile by providing catering services <br>
                               and cutting-edge audiovisual support, ensuring your event is nothing <br>
                               short of exceptional. Whether you’re planning a corporate function, <br>
                               seminar, or any special occasion, our commitment to excellence and<br>
                                meticulous attention to detail will transform your event into an <br>
                                unforgettable experience. Immerse yourself in the dynamic ambiance<br>
                                 while we take care of every detail, from spacious venues to gourmet<br>
                                  catering, and state-of-the-art AV technology, making your event both seamless and successful.</h6>
        
      </div>


<div>
    <h3>

       Total Sleeping Rooms

    </h3>
    
</div>

<div>

<h1>
    261     
</h1>

<div>

   <h3> Event Space</h3>

</div>

<div>

   <h1> 500 SqFt – 10,000 SqFt</h1>

</div>



</div>




    
</div>

<div style="display: flex;padding-left: 70px;padding-top: 70px;">

<div>

<h5 style="padding-left: 60px;font-weight: bold;">MEADOWLANDS ROOM</h5>
<img src="https://images7.alphacoders.com/362/362619.jpg" style="height: 350px; width: 350px;margin-right:20px ; padding-top: 20px;">

</div>

<div style="container: fluid;">

    <h5 style="padding-left: 60px;font-weight: bold;">HUDSON BOARD ROOM</h5> 
    <img src="https://homehotel.files.wordpress.com/2010/08/room-6-a.jpg" style="height: 350px; width: 350px; margin-right: 20px;padding-top: 20px;">
    
    </div>
    <div style="container: fluid;">

        <h5 style="padding-left: 110px;font-weight: bold;">BERGEN ROOM</h5>
        <img src="https://png.pngtree.com/background/20230527/original/pngtree-modern-3d-hotel-room-picture-image_2754554.jpg" style="height: 350px; width: 350px; margin-right: 20px;padding-top: 20px;">
        
        </div>

    </div>


<div style="padding-left:30px ; padding-top: 40px;">
   

<li>
     Elevate your gatherings with timeless sophistication. Our exceptional venue sets the stage for unforgettable meetings and events. From<br> intimate boardroom sessions to grand celebrations, every detail is meticulously curated to exceed your expectations. Discover the perfect<br> blend of comfort, style, and cutting-edge technology that ensures seamless experiences. Let us transform your event into a masterpiece of <br>success and elegance. Welcome to a world where every occasion shines brighter.

   </li>

<div style="padding-top: 30px;">

<li>
    Discover the perfect setting for a myriad of celebrations and occasions within our party and banquet venues. From professional corporate<br> luncheons to intimate gatherings among cherished friends, as well as elegant bridal or baby showers, and even extravagant receptions for <br>weddings, anniversaries, birthdays, or graduations, our spaces offer an ambiance that transforms moments into lifelong memories. Allow us <br>to craft the ideal atmosphere for your event of choice, where every detail is designed to perfection.
</li>
   </div>

   <div style="padding-top: 30px;">
  
<li>

    Our team of experts is committed to meticulously organizing and orchestrating your event, ensuring meticulous attention to every aspect.<br> Our goal is to transform your unique day into an exceptional and pleasurable experience for everyone. If you desire more details or a<br> pricing estimate for our Meetings and Events Space, kindly complete the Request For Proposal (RFP) Form designated for Meetings and Events <br>below. We are eager to provide assistance and support in every way we can.

</li>


    </div>



    
</div>

<div style="text-align: center;padding-top: 30PX;">


    <button type="button" class="btn btn-secondary" >RFP</button>




</div>

<div style="display: flex; padding-top: 70px;">


<div style="padding-left: 40px;">

<h1 style="padding-left: 140px;font-weight: bold;">
    SPACE
</h1>

<div>

<li>

    Plan your wedding receptions, conferences, and various events<br>
    conveniently at the Meadowlands Exposition Center, located<br>
    right next door. This versatile event venue boasts 20,000 <br>
    square feet of functional space, adaptable layouts, and <br>
    top-notch AV equipment to meet your specific needs. After <br>
    your event, join us at our onsite bar for a perfect blend <br>
    of networking, socializing, and relaxation, where you can <br>
    savor expertly crafted drinks and delectable bar bites. Your <br>
    memorable gatherings start here!
</li>

</div>

</div>

<div style="padding-left: 90px;">

<img src="https://www.harmonysuites.com/wp-content/uploads/2023/09/meadowlands.png" style="height: 300px; width: 500px; margin-right: 20px;padding-top: 20px;">



</div>

</div>


{% endblock abcdef%}